

header{
	margin: center;
	margin-top:0px;
	width:820px;
	height:35px;
	background:#000000;
      }


body {
  background: #ffffff;
     }

h1 {
  font-family: Verdana;
  font-size:24px;
  color: #F5DEB3;
  background-color: #3258D5;
  }
    